In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('df_k_means_metrics.csv', index_col=None)

In [3]:
df = df[df.columns[1:]]

In [4]:
df

,number_of_clients,number_of_clusters,silhouette_score,calinski_harabasz_score,davies_bouldin_score
0,100000.0,31.0,0.468514,202918.437716,0.649731
1,100000.0,56.0,0.485812,269948.328568,0.617740
2,100000.0,81.0,0.490623,315391.914843,0.595670
3,100000.0,106.0,0.446957,341609.705524,0.615303
4,100000.0,131.0,0.471449,368557.358759,0.623484
5,100000.0,156.0,0.471351,397073.306841,0.607496
6,100000.0,181.0,0.468873,416046.643470,0.612385
7,100000.0,206.0,0.471061,432383.895373,0.621747
8,100000.0,231.0,0.458554,447591.288715,0.624705
9,100000.0,256.0,0.472055,472079.380104,0.602126
10,100000.0,281.0,0.470619,491216.413771,0.620182
11,100000.0,306.0,0.477631,501889.786352,0.609444